.top{
	background-color: #FFF;
	font-family:'Montserrat', sans-serif;
	font-size: 16px;
	
}

.icono{
	font-family: 'Lato', sans-serif;
	font-size: 24px;
}

#menu{
	color:#635c73;
}


.boton{
	background-color: #7a7a91;
	color: #FFF;
	margin-left: 100px;
	margin-right: 50px;
}

.principal{
	display: block;
	background: url(../img/img-decor-01.jpg) no-repeat center center;
	text-align: center;
	background-size: cover;
}

.principal h1{
	color: #FFF;
	font-family:'Montserrat', sans-serif;
}

.principal p{
	color:#8d81ac;
	font-family: 'Lato', sans-serif;
}


.principal span{
	color: #848e97;
	display: block;
	font-family:'Montserrat', sans-serif;
}

.principal .boton {
	margin-top: 500px;
	margin-bottom: -66px;
	font-family:'Montserrat', sans-serif;
}

.detail{
	text-align: center;
}

.detail span{
	padding-top: 15px;
	display: block;
	color: #848e97;
}

.detail h2{
	color:#635c73;
	margin-top: 54px;
	font-family:'Montserrat', sans-serif;
}

.detail p {
	color: #323232;
	font-size: 15px;
	margin-bottom: 25px;
	font-family: 'Source Sans Pro', sans-serif;
}

.detail img{
	padding-bottom: 100px;
}

.img-features{
	width: 100%;
	margin-top: 10px;
	margin-bottom: -50px;
	background-size: cover;
	margin-right: 0px;
}

.caracteristicas{
	background-color: #f4f4f4;
	font-family:'Montserrat', sans-serif;
}

.features h2{
	color: #8d81ac;
	font-size: 56px;
	text-align: center;
}

.features h5{
	color: #323232;
	font-size: 16px;
}

.features span{
	color: #848e97;
	font-size: 14px;
}

.features img{
	padding: 5px;
}
.perfil{
	margin-top: 50px;
	text-align: center;
}

.perfil img{
	float: right;
}

.perfil .nombre{
	float: left;
	font-family:'Montserrat', sans-serif;
}
}

.perfil .nombre h3{
	color: #635c73;
	font-size: 24px;
}

.perfil .nombre span{
	color: #8d81ac;
	font-size: 16px;
}

.perfil .descripcion{
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: 'Source Sans Pro', sans-serif;
}

.perfil .descripcion p{
	color: #333333;
	font-size: 20px;
}

.perfil .descripcion span{
	color: #848e97;
	font-size: 16px;
	font-family:'Montserrat', sans-serif;
}


.boton-social{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	font-family:'Montserrat', sans-serif;
}
.boton-social .github{
	color: #000;
	font-size: 21px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.boton-social .twitter{
	color: #fff;
	font-size: 21px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.boton-social .facebook{
	color: #fff;
	font-size: 21px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.color{
	background-color: #4b3b4e;
}

.secundario{
	display: block;
	background: url(../img/img-decor-02.jpg) no-repeat center center;
	text-align: center;
	background-size: cover;
	font-family:'Montserrat', sans-serif;
}

.secundario h2{
	color: #FFF;
	font-size: 48px;
	margin-bottom: 50px;
	margin-top: 50px;
}

.secundario p{
	font-size: 16px;
	color: #FFF;
	margin-top: 30px;
	margin-bottom: 50px;
	font-family: 'Source Sans Pro', sans-serif;
}

.terciario{
	display: block;
	background: url(../img/img-decor-03.jpg) no-repeat center center;
	text-align: center;
	background-size: cover;
	font-family:'Montserrat', sans-serif;
}

.terciario h2{
	color: #FFF;
	font-size: 48px;
	margin-top: -50px;
	margin-bottom: 50px;
}

.thumbnail{
	background: none;
	color: #FFF;
	border-color: #8d81ac;
}

.thumbnail span{
	color: #848e97;
}

.terciario .span-final{
	color: #a291a5;
	font-size: 14px;
	margin-top: 100px;
}
.subscription{
	background-color: #f4f4f4;
	padding-top: 25px;
	padding-bottom: 25px;
	font-family:'Montserrat', sans-serif;
}

.subscription h4{
	margin-left: 100px;
	color: #635c73;
	font-size: 30px;
}

.links{
	font-family:'Montserrat', sans-serif;
}

.links h4{
	color: #d3d1da;
	font-size: 28px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.links h6{
	color: #323232;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 20px;
}
}

.links p{
	color: #848e97;
	font-size: 13px;
	margin-bottom: 10px;
}

.links button {
	color: #8d81ac;
	font-size: 14px;
}

.footer{
	font-family:'Montserrat', sans-serif;

}
.footer h6{
	color: #323232;
	font-size: 16px;
}

.footer p{
	color:#8d81ac;
	font-size: 15px;
}
.footer h4{
	color: #3f3f3f;
	font-size: 30px;
}
.footer h5{
	color: #323232;
	font-size: 16px;
}

.footer a{
	color: #323232;
	font-size: 24px;
}